@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap");

/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/
* {
  margin: 0;
  padding: 5;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f4fd;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120%;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  color: #000d83;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
}
.menu .navbar ul {
  display: flex;
}
.menu .navbar ul li a {
  font-size: 18px;
  padding: 0 20px;
  color: #000d83;
  display: block;
  font-weight: 600;
}
.menu.navbar ul li a:hover {
  color: #3ec4ff;
}
#menu {
  display: none;
}
.menu-icono {
  width: 25px;
}
.menu label {
  cursor: pointer;
  display: none;
}
.header-content {
  display: flex;
  padding: 80px 0 0 0;
}
.header-txt {
  flex-basis: 50%;
  padding-right: 30px;
}
.header-txt span {
  font-size: 18px;
  text-transform: capitalize;
  color: #ff5d5d;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}
.header-txt h1 {
  font-size: 70px;
  line-height: 1;
  color: #000d83;
  font-family: "Sebas Neue", sans-serif;
  margin-bottom: 15px;
}
p {
  font-size: 18px;
  color: #2c39aa;
  margin-bottom: 50px;
}
.btn-1 {
  display: inline-block;
  padding: 14px 25px;
  background-color: #000d83;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(33, 40, 105, 0.2);
}
.header-img {
  flex-basis: 50%;
}
.brands {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 15px 20pc rgba(33, 40, 105, 0.2);
}
.brands-1 {
  flex-basis: calc(25% - 25px);
}
.brands-1 {
  font-size: 25px;
  line-height: 1;
  font-weight: 600;
  color: #000d83;
  margin: 0;
}
.brands-1 img {
  width: 150px;
}
.services {
  padding: 100px 0;
  text-align: center;
}
h2 {
  font-size: 40px;
  line-height: 1;
  color: #000d83;
  margin-bottom: 20px;
}
.services-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.services-1 {
  flex-basis: calc(20% - 30px);
  background-color: #fbfcfe;
  padding: 40px;
  box-shadow: 0 0 10px rgba(33, 40, 105, 0.2);
  color: #000d83;
}
.services-1:hover {
  background-color: #000d83;
  color: white;
  cursor: pointer;
}
.services-1 img {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
.services-1 h3 {
  font-size: 20px;
  line-height: 1.2;
}
.information {
  padding: 50px 0 100px 0;
  display: flex;
  align-items: center;
}
.information-img {
  flex-basis: 50%;
}
.information-txt {
  flex-basis: 50%;
  padding-left: 50px;
}
.about {
  padding: 80px 0;
  background-color: #eefaff;
}
.about-content {
  display: flex;
  align-items: center;
}
.about-txt {
  flex-basis: 50%;
  padding-right: 80px;
}
.about-img {
  flex-basis: 50%;
}
.contact {
  padding: 120px 0;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
input {
  width: 300px;
  padding: 17;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(33, 40, 105, 0.2);
  margin-right: 20px;
}
.footer {
  background-color: #0d0541;
  padding: 50px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.link h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}
.link a {
  color: #c8c8c8;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.link a:hover {
  color: #3ec4ff;
}
@media (max-width: 991px) {
  .menu {
    padding: 20px;
    position: relative;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #3ec4ff;
    display: none;
  }
  .menu.navbar ul {
    flex-direction: column;
  }
  .menu.navbar ul li {
    width: 100px;
    padding: 20px 0;
  }
  .menu.navbar ul li a:hover {
    color: #ffff;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header-content{
    padding: 20px 30px;
    flex-direction: column;
    text-align: center;
  }
  .header-txt{
    padding: 0;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 30px;
  }
  .brands{
    padding: 30px;
    margin: 0 30px;
    flex-direction: column;
  } 
  .brands-1{
    text-align: center;
  }
  .brands-1 p {
    margin-bottom: 15px;
  }
  .brands-1 img{
    margin-bottom: 10px;
  }
  .services{
    padding: 50px 30px 30px 30px;
  }
  .services-content{
    flex-direction: column;
  }
  .services-1{
    margin-bottom: 30px;
  }
  .information{
    padding: 0 30px 30px 30px;
    flex-direction: column;
    text-align: center;
  }
  .information-txt{
    padding: 0 0 30px 0;
  }
  .information-img{
    order: 2;
  }
  .about{
    padding: 30px;
  }
  .about-content{
    flex-direction: column;
    text-align: center;
  }
  .about-txt{
    padding: 0 0 30px 0;
  }
  .contact{
    padding: 50px 80px;
  }
  form{
    flex-direction: column;
  }
  input{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer{
    padding: 30px;
  }
  .footer-content{
    /* flex-direction: column; */
    text-align: center;
  }
}
